@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --indigo:#4B0082;

    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    transition: all .2s linear;
}

::selection{
    background:blue;
    color: azure;
}
 
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

.Heading{
    text-align: center;
    padding: 2.5rem 0
}

.Heading span{
    font-size: 3.5rem;
    background: lavender;
    color: var(--indigo);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.Heading span.space{
    background: none;
}

.btn{
    display: inline-block;
    margin-top: 0.1rem;
    background: hwb(214 0% 45% / 0.623);
    color: black;
    padding: 1rem 0.5rem;
    border: 0.1rem solid hwb(214 0% 45% / 0.623);
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: rgba(255,165,0,.2);
    color:var(--indigo) ;
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #000000;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: azure;
    text-transform: uppercase;
}

header .logo span{
    color:var(--indigo);
}

header .navbar a{
    color: azure;
    font-size: 2rem;
    margin:0 .8rem;
}

header .navbar a:hover{
    color:var(--indigo)
}

header .icons i{
    font-size: 2.5rem;
    color: azure;
    cursor: pointer;
    margin-right: 2rem;
}

header .icons i:hover{
    color: #4B0082;
}

header .search-bar-container{
    position: absolute;
    top:100%; left: 0; right: 0;
    padding:1.5rem 2rem;
    background:#000000;
    border-top: .1rem solid rgba(255,255,255,.2);
    display: flex;
    align-items: center;
    z-index: 1001;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active{
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container #search-bar{
    width:100%;
    padding:1rem;
    text-transform: none;
    color: #000000;
    font-size: 1.7rem;
    border-radius: .5rem;
}

header .search-bar-container label{
    color: azure;
    cursor: pointer;
    font-size: 3rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover{
    color: #4B0082;
}

.login-form-container{
    position: fixed;
    top: -120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background:rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container .active{
    top: 0;
}

.login-form-container form{
    margin:2rem;
    padding:1.5rem 2rem;
    border-radius: .5rem;
    background: rgb(193, 230, 242);
    width:40rem;
}

.login-form-container form h3{
    font-size: 3rem;
    color: #1d1160;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}

.login-form-container form .box{
    width: 90%;
    padding: 1rem;
    font-size: 1.7rem;
    color: azure;
    margin: .6rem 0;
    border:.1rem solid rgba(0,0,0,.3);
    text-transform: none;
}

.login-form-container form .box:focus{
    border-color: var(--indigo);;
}

.login-form-container form #Remember{
    margin: 2rem 0;
}

.login-form-container form label{
    font-size: 1.5rem;
}

.login-form-container form .btn{
    display: block;
    width:95.5% ;
}

.login-form-container form p{
    padding: .5rem 0;
    font-size: 1.5rem;
    color: black;
}

.login-form-container form p a{
    color: var(--indigo);
}

.login-form-container form p a:hover{
    color: #333;
    text-decoration: underline;
}

.login-form-container #form-close{
    position: absolute;
    top:2rem; right:3rem;
    font-size: 5rem;
    color: black;
    cursor: pointer;
}

#menu-bar{
    color: azure;
    border: .1rem solid azure;
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.Home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position:relative;
    z-index: 0;

}

.Home .Content{
    text-align: center;
}

.Home .Content h3{
    font-size: 4.5rem;
    color: azure;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.Home .Content p{
    font-size: 2.5rem;
    color: azure;
    padding: .5rem 0;
}

.Home .Content a{
        color: black;
        font-size: 2rem;
        margin:0 .8rem;
}

.Home .video-container video{
    position: absolute;
    top: 0; left:0;
    z-index: -1;
    height: 100%;
    width: 120%;
    object-fit: cover;
}

.Home .controls{
    padding:1rem;
    border-radius: 5rem;
    background:rgba(0,0,0,.7);
    position: relative;
    top:5rem;
}

.Home .controls .vid-btn{
    height:2rem;
    width:2rem;
    display: inline-block;
    border-radius: 50%;
    background: azure;
    cursor: pointer;
    margin:0 .5rem;
}

.Home .controls .vid-btn.active{
    background: var(--indigo);
}

.Book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

.Book .row .image{
    flex:1 1 40rem;
}

.Book .row .image img{
    width:100%;
}

.Book .row form{
    flex:1 1 40rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.Book .row form .inputBox{
    padding:.5rem 0;
}

.Book .row form .inputBox input{
    width: 100%;
    padding: 1rem;
    border:.1rem solid rgba(0,0,0,.1);
    font-size: 1.7rem;
    color:#333;
    text-transform: none;
}

.Book .row form .inputBox h3{
    font-size: 2rem;
    padding:1rem 0;
    color: #666;
}

.Packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.Packages .box-container .box{
    flex:1 1 30rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}

.Packages .box-container .box img{
    height: 25rem;
    width:100%;
    object-fit: cover;
}

.Packages .box-container .box .Content{
    padding: 2rem;
}

.Packages .box-container .box .Content h3{
    font-size: 2rem;
    color: #333;
}

.Packages .box-container .box .Content h3 i{
    color: var(--indigo);
}
    
.Packages .box-container .box .Content p{
    font-size: 1.7rem;
   color: #666;
    padding:1rem 0;
}

.Packages .box-container .box .Content .stars i{
    font-size: 1.7rem;
    color:var(--indigo);
}

.Packages .box-container .box .Content .Price{
    font-size: 2rem;
    color: #333;
    padding-top: 1rem;
}

.Packages .box-container .box .Content .Price span{
    color: #666;
    font-size: 1.7rem;
    text-decoration: line-through;
}

.Services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding:1rem;
    text-align: center;
}

.Services .box-container .box i{
    padding:1rem;
    font-size: 5rem;
    color: var(--indigo);
}

.Services .box-container .box h3{
    font-size: 2.5rem;
    color:#333;
}

.Services .box-container .box p{
    padding: 1rem 0;
    font-size: 1.5rem;
    color:#666;
}

.Services .box-container .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
}
 
.Gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.Gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:1rem solid azure;
    border-radius: .5rem;
    flex:1 1 30rem;
    height: 40rem;
    width: 40rem;
    position: relative;
}

.Gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Gallery .box-container .box .Content{
    position: absolute;
    top: -100%; left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,.7);
    padding:2rem;
    padding-top: 5rem;
}

.Gallery .box-container .box:hover .Content{
    top: 0;
}

.Gallery .box-container .box .Content h3{
    font-size: 2.5rem;
    color: lavender;
}

.Gallery .box-container .box .Content p{
    font-size: 1.5rem;
    color:#eee;
    padding:.5rem 0;
}

.Review .review-slider{
    padding-bottom: 2rem;
}

.Review .box{
    padding:2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.Review .box img{
    height:13rem;
    width:13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.Review .box h3{
    color: #333;
    font-size: 2.5rem;
}

.Review .box p{
    color: #666;
    font-size: 1.5rem;
    padding:1rem 0;
}

.Review .box .stars i{
    color:var(--indigo);
    font-size: 1.7rem;
}

.Contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    align-items: center;
}

.Contact .row .image{
    flex:1 1 35rem;
}

.Contact .row .image img{
    width:100%;
}

.Contact .row form{
    flex:1 1 50rem;
    padding:2rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.Contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Contact .row form .inputBox input, .Contact .row form textarea{
    width:49%;
    margin:1rem 0;
    padding:1rem;
    font-size:1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}

.Contact .row form textarea{
    height: 15rem;
    resize: none;
    width:100%;
}














/*media queries */

@media (max-width:1200px){

    html{
      font-size: 55%;
    }

}

@media (max-width:991px){

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }
     
     
}

@media (max-width:768px){

    #menu-bar{
        display: initial;
    }
     
    header .navbar{
        position: absolute;
        top:100%; right:0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(255,255,255,.2);
        padding:1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.acctive{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        border-radius: .5rem;
        padding:1.5rem;
        margin:1.5rem 0;
        background: #222;
    }
}

@media (max-width:450px){

    html{
      font-size: 50%;
    }

    .Heading span{
        font-size: 2.5rem;
    }

    .Contact .row form .inputBox input{
        width:100%;
    }
}